{
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  },
  "rules": {
    "prefer-arrow-callback": "off",
    "comma-dangle": "off",
    "object-shorthand": "off",
    "func-names": "off",
    "no-underscore-dangle": "off",
    "prefer-rest-params": "off",
    "prefer-spread": "off",
    "consistent-return": ["warn", { "treatUndefinedAsUnspecified": true }],
    "prefer-destructuring": "off",
    "function-paren-newline": "off",
    "no-param-reassign": "error",
    "no-var": "off",
    "prefer-template": "off",
    "no-plusplus": "off",
    "vars-on-top": "off",
    "quotes": ["error", "single"],
    "quote-props": ["error", "consistent-as-needed", { "keywords": true }]
  }
}
